@charset "utf-8";

/*====================
	*layout.css*

1.	#container
2.	#header
3.	#loginArea
4.	#contentArea
5.	#loginBox
6.	#subMenu
7.	#contents
8.	#footer
9.	other
====================*/


/*--------------------------------------
							#container
---------------------------------------*/

body{
	position: relative;
	background: #ffffff;
}

#container{
	font-size: 12px;
	width: 100%;
}

.contentSection{
	padding: 0 0 10px 0;
	margin: 0 0 25px 0;
}

.txt_center{	text-align: center!important;}
.txt_right{	text-align:right!important;}
.txt_left{	text-align:left!important;}

.textRed{	color: #DD0000;}
.errBgCol{	background-color: #FFB8B5;}
.listBgCol{	background-color: #E7FFE7;}


/*--------------------------------------
							#header
---------------------------------------*/

#header{
	background:#D0D0D0;
	border-bottom:2px solid #10640C;
	padding: 0px 10px;
	position: relative;
	color: #10640C;
}

#header .logo{
	font-size:12px;
	padding:1em 0px;
	font-weight:normal;
}

#header .sitename{
	padding:0 0.2em 0 0.2em;
	color:#000000;
	font-size:24px;
	font-family:'Cabin',serif;
	font-style:normal;
	font-weight:400;
}

#header .sitename strong{
	font-weight:600;
}

#header .user{
	position: absolute;
	bottom: 5px;
	right: 1.5em;
	color: #666666;
}

#header .user a{
	margin: 0px 0px 0px 20px;
}


/*--------------------------------------
							#contentArea
---------------------------------------*/

#contentArea{
	padding: 0px 20px;
	margin: 0 ;
	min-width: 1110px;
	background: #FFFFFF;
}

/* テーマアイコン */
#contentArea .themeIcon{
	float: left;
}

#contentArea .icon{
	padding: 5px;
	background: url(../img/bg/bg_mesh_yellow.png);
}

#contentArea .bodyTypeList{
	font-size: 12px;
}

#contentArea .themeCheckbox{
	height: 42px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#contentArea .themeName{
	 height: 42px;
}



/*--------------------------------------
							#subMenu
---------------------------------------*/

.listNavi{
	height:100%;
	margin:10px 0 10px 0;
	overflow:hidden;
}

.listNavi li{
	width: 120px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin: 0 0 0 0;
	background: #DBDBDB;
	border: 1px solid #ffffff;
}

.listNavi li a{
	display: block;
	padding: 0.7em;
}

.listNavi li a:hover{
	background: #DBDBDB;
}

.listNavi li img{
	padding: 0 5px 0 0;
}

/*--[ stay ]--*/

.listNavi li.stay{
	background: #E8E8E8;
}

.listNavi li.stay a:hover{
	background: #E8E8E8;
}



/*--------------------------------------
							#breadcrumbs
---------------------------------------*/
#breadcrumbs{
	margin: 0 0 10px 0;
}

/*--------------------------------------
							#contents
---------------------------------------*/
h1.tit{
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0px;
	background: #999999;
	padding: 5px 0 5px 5px;
	color:#ffffff;
}


h2,
.subContent1 h2{
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #10640C;
}


/*--[ tbl_pageSend ]--*/
.tbl_pageSend{
	width: 100%;
	font-size: 12px;
	background: #EFEFEF;
	font-weight: bold;
	margin: 4px 0;
}


.tbl_pageSend td.prev{
	padding: 5px 0 5px 0 ;
	text-align: left;
	width: 200px;
}

.tbl_pageSend td.txt{
	text-align: center;
	color: #000000;
	padding:5px 0pt;
}

.tbl_pageSend td.next{
	padding: 5px 0 5px 0;
	text-align: right;
	width: 200px;
}


#container .tblForm td img.carImg{
	width: 260px;
	height: 156px;
}

/*--[ tblList ]--*/

.intblList,
.tblList{
	width: 100%;
	font-size: 12px;
	color: #000;
	border: 1px solid #969696;
}


.intblList th,
.tblList th{
	padding: 5px 3px;
	background: #e7e7e7;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
}

.intblList td,
.tblList td{
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	padding: 7px 5px;
	text-align: left;
}

.tblList tr.bgColDeleteData{
	background-color: #EFEFEF;
}


/*--[ tbl_sort ]--*/
#container .tbl_sort{
	width: 450px;
	border: none;
}

#container .tblForm td .tbl_sort td{
	border: none;
	vertical-align: middle;
}


/*--[ tblForm ]--*/

.tblForm{
	width: 100%;
	font-size: 12px;
	color: #000000;
	border: 1px solid #969696;
}

.tblForm .mgnSide{
	margin: 0 10px;
}


.tblForm th{
	padding: 7px 10px;
	font-size: 14px;
	background: #EFEFEF;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	vertical-align: top;
	text-align: left;
	vertical-align: middle;
}


.tblForm td{
	padding: 7px 5px;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
}


.tblForm td p.instructions{
	margin: 5px 0 5px 0;
	font-size: 12px;
	color:#FF0000;
}


/*--[ btnArea ]--*/
.btnArea{
	padding: 5px 0px;
	margin-bottom: 15px;
}


/* --------------------------------------------------------------- */

.txt_result{
	font-size: 117%;
	margin: 0 0 5px 0;
}

/*--------------------------------------
							#footer
---------------------------------------*/

#footer{
	clear: both;
	border-top: 1px solid #e7e7e7;
	font-size: 10px;
	padding: 10px;
	text-align: center;
//	min-width: 1130px;
}

#footer address{
	font-family: "Arial";
	text-align: right;
	padding: 3px 3px 0 0;
}


/*--------------------------------------
		others by tkd
---------------------------------------*/

.must_mark{
	font-weight: bold;
	color: #DD0000;
	font-size: 11px;
}

.actionMsg{
	font-size: 14px;
	color: #000000;
	line-height: 1.3;
	margin: 15px 0 15px 0;
}

.actionMsg span{
	color:#FF0000;
}


.inputRule{
	display: block;
	font-weight: normal;
	margin: 2px auto 0 auto;
	text-align: left;
	font-size: 11px;
}


/*--------------------------------------
							#help
---------------------------------------*/



/*--------------------------------------
							other
---------------------------------------*/

.err{
	font-weight: bold;
	color: #DD0000;
	font-size: 11px;
	margin: 0 0 2px 0;
}

.mrgB_0{
	margin: 0;
}
.mrgB_10{
	margin: 0 0 10px 0;
}
.mrgB_20{
	margin: 0 0 20px 0;
}
.mrgB_5{
	margin: 0 0 5px 0;
}


/*--------------------------------------


---------------------------------------*/
.BB_btnWithText_A{
	border: 1px solid #969696;
	background-color: #e7e7e7;
	padding: 7px 5px;
}

.noBorderTop{
	border-top: none;
}

.BB_btnWithText_A .BB_boxLeftText{
	display: inline-block;
}

.BB_boxText{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding: 0;
}

.BB_boxText span{
	margin: 0 0 0 20px;
}

.BB_boxRightBtn{
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
}


div.loginBox{
	margin: 30px auto 0 auto;
	border: 1px dotted #666666;
	width: 380px;
}


div.loginBox h2{
	background-color: #D0D0D0;
	color: #000000;
	font-size:14px;
	padding:5px;
	border:none;
}

div.loginBox p{
	text-align:left;
	font-size:12px;
	padding:0;
	margin:0 0 10px 0;
	font-weight:bold;
	color:#000000;
}
div.loginBox .form{
	width:270px;
	padding:10px;
	margin:0 auto;
}

div.loginBox table{
	background-color:#ffffff;
	font-weight:bold;
	width:270px;
}

div.loginBox table th{
	font-weight:bold;
	padding-right:5px;
}
div.loginBox table input.text{
	margin-bottom:5px;
	width:180px;
	height:15px;
	padding:0 3px;
	padding-top:3px;
	font-weight:bold;
}
div.loginBox div.btnArea{
	width: 380px;
	background: #D0D0D0;
	text-align: center;
	padding: 5px 0;
	margin: 0;
}

div.loginBox input.submit{
	background-color:#2F6605;
	color:#FFFFFF;
	border:2px solid #2F6605;
	font-size:14px;
	font-weight:bold;
}

div.loginBox .actionMsg{
	font-weight:bold;
	line-height:160%;
	margin:0;
	font-size: 12px;
}


.inputFile{
	padding: 3px 0 3px 0;
}



/*--------------------------------------
							popup
---------------------------------------*/

#popup .main{
	padding: 10px;
}


/*--------------------------------------
							selModel
---------------------------------------*/
.selModelName{
	width:780px;
	display: table-cell;
	vertical-align: middle;
}

.tblList span,
.selModelName span{
	color:#FF0000;
}

.selModelBtnArea{
	display: table-cell;
	vertical-align: middle;
}


#container .tbl_inner{
	width: 100%;
	border: none;
}

.tbl_inner label span{
	margin-left: 5px;
}

.tbl_inner label span.red{
	color:#FF0000;
}

#container .tblForm td .tbl_inner td{
	border: none;
	vertical-align: middle;
}

#container .tbl_inner th,
#container .tbl_inner td{
	padding: 5px;
}

#container .tbl_inner th{
	background:none;
	border: none;
}

#container .tbl_inner .selModelName{
	width:650px;
}


#container .tblForm td .tbl_campaign td input[type=button]{
	float:right;
}

#container .tblForm td .tbl_campaign td input[type=checkbox]{
	vertical-align: bottom;
}
#container .tblForm td .tbl_campaign td label{
	vertical-align: bottom;
}


/*--------------------------------------
							consistency
---------------------------------------*/
#loading{
	display: none;
}

#consistency{
	line-height: 1.3;
	font-size:14px;
}

.consistencyData{
	padding:20px 0;
	
}

.consistencyData .errMsg{
	margin:10px 0;
}

.consistencyData .checkBoxArea{
	margin:10px 0 30px;
}

.consistencyData h3{
	margin:5px 0;
	font-weight:bold;
}

.consistencyData li{
	list-style: disc;
	margin:2px 0 2px 20px;
}

.consistencyData .msg{
	color: #FF0000;
}

.consistencyData .mainte,
.consistencyData .lease{
	margin: 0 0 25px;
}

.consistencyData .mainte>li,
.consistencyData .lease>li{
	list-style: circle;
	margin:2px 0 2px 20px;
}

.consistencyData .mainte ul li,
.consistencyData .lease ul li{
	list-style: disc;
	margin:2px 0 2px 40px;
}

