@charset "utf-8";

@media screen and (max-device-width: 1024px){

	/*トップ(フローティング)*/
	#topPage .selectBox .trians{
		right: 55px!important;
	}

	#topPage .carGradeNum{
		width: 240px;
	}

	.selectBox .clearBtn{
		padding: 2px 7px 4px 0px;
	}


	/*ランキング、車種変更(対象件数)*/
	#rankingPage .actionBox h2,
	#selectModelTab .actionBox h2{
		width: 160px;
	}

	/*車種詳細*/
	#carLeaseInfo .carGradeList dt.title{
		font-size: 22px !important;
	}

	#carLeaseInfo .carGradeList .leaseData dt,
	#carLeaseInfo .carGradeList .leaseData dd{
		font-size: 20px !important;
	}

	#carLeaseInfo .carGradeList .leaseData .totalDetail dt,
	#carLeaseInfo .carGradeList .leaseData .totalDetail dd{
		font-size: 16px !important;
	}

	#carLeaseInfo .carGradeList .leaseData .totalDetail dt{
		width: 155px !important;
	}

	/*オプション選択*/
	#carLeaseOption .itemBox .description{
		width: 373px !important;
	}

	/*営業ツールパネル*/
	#popup #salespromotionPanel{
		width: 993px !important;
	}

}

/*------ エラー画面 ------*/
#userErr{
	display: table;
	width: 100%;
	vertical-align: middle;
	min-height: 402px;
}

#userErr .notCarData{
	min-height: 402px;
	vertical-align: middle;
	display: table-cell;
}

/************************
 アイコン 
*************************/
.faArrowsv:before{
	content:"\f07d";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-lock"  --*/
.faLock:before{
	content:"\f023";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-sign-out"  --*/
.faSignOut:before{
	content:"\f08b";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-sign-in"  --*/
.faSignIn:before{
	content:"\f090";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-user"  --*/
.faUser:before{
	content:"\f007";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-check-square-o"  --*/
.faCheckSquareo:before{
	content:"\f046";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-comments"  --*/
.faComments:before{
	content:"\f086";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-exchange"  --*/
.faExchange:before{
	content:"\f0ec";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*--   class="fa-filter"  --*/
.faFilter:before{
	content:"\f0b0";
	margin:0 5px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}

/*------ margin ------*/
.mrgB_10{
	margin: 0 0 10px 0;
}

.mrgB_0{
	margin: 0;
}

.minText,
.actionMsg span {
	color: #F00;
}

th.w20,td.w20{		width:20px !important;}
th.w60,td.w60{		width:60px !important;}
th.w70,td.w70{		width:70px !important;}
th.w80,td.w80{		width:80px !important;}
th.w85,td.w85{		width:85px !important;}
th.w90,td.w90{		width:90px !important;}
th.w100,td.w100{	width:100px !important;}

#testDisp span+span{
	padding-right: 120px !important;
}

/******************************************************
   ログイン(トップ) 
*******************************************************/
.salesLoginBox{
	margin: 30px auto 0 auto;
	border: 1px dotted #29498F;
	width: 450px;
	background: #FFFFFF;
	padding: 0 0 10px;
}

.salesLoginBox h2{
	background-color: #29498F;
	color: #FFFFFF;
	font-size:26px;
	padding:15px 0;
	border:none;
	margin: 0 0 10px;
}


/* ボタン */
.salesLoginBox div.btnArea{
	background: transparent;
	text-align: center;
	padding: 5px 0 10px;
	margin: 0;
}

.salesLoginBox div.btnArea a{
	background:url(../img/bg/bg_mesh_blue_light_s.png);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	border: none;
	display: inline-block;
	padding: 8px 0;
	width: 100px;
}

/* フォーム */
.salesLoginBox p{
	text-align:left;
	font-size:12px;
	padding:0;
	margin:0 0 10px 0;
	font-weight:bold;
	color:#000000;
}

.salesLoginBox .form{
	width: 330px;
	padding:10px;
	margin:0 auto;
}

.salesLoginBox table{
	background-color:#ffffff;
	font-weight:bold;
	width:100%;
	margin: 5px 0;
}

.salesLoginBox table th{
	font-weight:bold;
	padding: 0 5px 10px 0;
	text-align: right;
}

.salesLoginBox table input.text{
	margin-bottom:10px;
	height:20px;
	width:200px;
	padding:0 3px;
	padding-top:3px;
	font-weight:bold;
}

.salesLoginBox  input[type=text],
.salesLoginBox  input[type=password]{
	height: 30px;
}

/* メッセージ */
.salesLoginBox .actionMsg{
	font-weight:bold;
	line-height:160%;
	margin:0;
	font-size: 12px;
}


/******************************************************
   共通
******************************************************/
/* 期間 */
#carLeaseInfo .lease ul,
#carLeaseOption .lease ul,
#rankingList .lease ul,
.compareCarData .lease ul{
	margin: 5px 0;
	display: inline-block;
	vertical-align: middle;
}

#carLeaseInfo .lease li,
#carLeaseOption .lease li,
#rankingList .lease li{
	float: left;
	font-weight: bold;
	padding: 2px 19px;
	color: #FFFFFF;
	margin: 0;
}


/* 期間(色) */
#carLeaseInfo .carGradeList span.name .y3,
#carLeaseInfo .lease li.y3,
#carLeaseOption .lease li.y3,
#rankingList .lease li.y3,
.compareCarData .lease li.y3.selLease{
	background-color: #1919BB;
}

#carLeaseInfo .carGradeList span.name .y4,
#carLeaseInfo .lease li.y4,
#carLeaseOption .lease li.y4,
#rankingList .lease li.y4,
.compareCarData .lease li.y4.selLease{
	background-color: #1C8825;
}

#carLeaseInfo .carGradeList span.name .y5,
#carLeaseInfo .lease li.y5,
#carLeaseOption .lease li.y5,
#rankingList .lease li.y5,
.compareCarData .lease li.y5.selLease{
	background-color: #BB1919;
}

/* チェックボックスを隠す */
#salespromotionPanel .contentArea.modeChange label input[type=checkbox],
#salespromotionPanel .contentArea.preset .optionItem .optionCheck input[type=checkbox],
#salespromotionPanel .contentArea.preset td label input[type=checkbox],
#carLeaseOption .itemBox input[type=checkbox]{
	z-index: -1;
	position: relative;
	visibility: hidden;
	display:none;
}

/* オプション：チェック */
#salespromotionPanel .contentArea.preset .optionItem .optionCheck span,
#carLeaseOption .itemBox .optionCheck span{
	background: #DDDDDD;
	color: #BBBBBB;
	width: 90px;
	height: 37px;
	display: table-cell;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}

/* オプション：チェック(選択) */
#salespromotionPanel .contentArea.preset .optionItem .optionCheck span.checkcolor,
#carLeaseOption .itemBox .optionCheck span.selected{
	background: #FFC58D;
	color: #FFFFFF;
}


/*----- 切り替えタブ -----*/
#salespromotionPanel #panelContent .modeChangeBox .itemList,
#carLeaseInfo .carGradeList .itemList,
#carLeaseOption .carLeaseOptionList .itemList{
	border-bottom: 3px solid #FF8C22;
}

#salespromotionPanel #panelContent .modeChangeBox .itemList li,
#carLeaseInfo .carGradeList .itemList li,
#carLeaseOption .carLeaseOptionList .itemList li{
	display: table-cell;
	border-right: 1px solid #FFFFFF;
}

#salespromotionPanel #panelContent .modeChangeBox .itemList li a,
#carLeaseInfo .carGradeList .itemList li a,
#carLeaseOption .carLeaseOptionList .itemList li a{
	color: #FFFFFF;
	padding: 8px 10px;
	display: inline-block;
	background: url(../img/bg/bg_mesh_gray.png) repeat;
}

#salespromotionPanel .modeChangeBox .selItem,
#carLeaseInfo .carGradeList .selItem,
#carLeaseOption .carLeaseOptionList .selItem{
	background: url(../img/bg/bg_mesh_darkOrange.png) repeat !important;
}


/*----- 切り替えコンテンツ -----*/
#salespromotionPanel .modeChangeBox .itemBox,
#carLeaseOption .carLeaseOptionList .itemBox{
	display: none;
	margin: 8px 0 0;
}

#salespromotionPanel .modeChangeBox .selBox,
#carLeaseOption .carLeaseOptionList .selBox{
	display: block;
}


/*----- 選択ボタン -----*/
#compareData .compareCarData .leaseMileage li,
#salespromotionPanel #panelContent .modeChangeBox td label,
#salespromotionPanel .contentArea.preset td label{
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0;
	width: 235px;
	font-size: 16px;
	color: #FFFFFF;
	background: url(../img/bg/bg_mesh_gray.png) repeat;
	border-right: 1px solid #FFFFFF;
	cursor: pointer;
}

/* 選択済み */
#compareData .compareCarData .leaseMileage li.selLease,
#salespromotionPanel #panelContent .modeChangeBox td label.checkcolor,
#salespromotionPanel .contentArea.preset td label.checkcolor{
	background: url(../img/bg/bg_mesh_darkOrange.png) repeat;
}

/*注記*/
#carLeaseInfo+.note,
#carLeaseOption+.note{
	font-size: 11px;
	margin: 20px 0 0;
}

#salespromotionPanel .contentArea.preset .gasolineInfo .note li,
#carLeaseInfo+.note li,
#carLeaseOption+.note li{
	display: block;
	color: #999999;
}

#salespromotionPanel .contentArea.preset .gasolineInfo .note li:before,
#carLeaseInfo+.note li:before,
#carLeaseOption+.note li:before{
	content: "※";
	margin: 0 5px;
}

#salespromotionPanel .contentArea.preset .gasolineInfo .note span{
	display: inline-block;
	vertical-align: top;
}

/******************************************************
   営業パネル 
******************************************************/
#salespromotionPanel #panelMenu{
	margin: 0 10px;
	display: none;
}

/*----- ログイン情報 -----*/
#salespromotionPanel #login{
	color:#FFFFFF;
	font-weight:bold;
	padding: 10px 0 0;
	width: 100%;
	text-align:right;
	display: table;
}

#salespromotionPanel #login a{
	color:#FFFFFF;
}

/* メッセージ */
#salespromotionPanel #login .msgBox{
	color: #FDFD00;
	display: table-cell;
	text-align: left;
	width: 300px;
}

/* メニュー */
#salespromotionPanel #login .float-r{
	padding-right: 10px;
	text-align: right;
	display: table-cell;
}

#salespromotionPanel #login .float-r ul{
	display: inline-block;
}

#salespromotionPanel #login .float-r li{
	float: left;
	color:#FFFFFF;
}

#salespromotionPanel #login .float-r .notice,
#salespromotionPanel #login .float-r .user,
#salespromotionPanel #login .float-r .preset,
#salespromotionPanel #login .float-r .password{
	margin-right:15px;
}

#salespromotionPanel #login .float-r .modeChange.selTab a,
#salespromotionPanel #login .float-r .notice.selTab a,
#salespromotionPanel #login .float-r .user.selTab a,
#salespromotionPanel #login .float-r .preset.selTab a,
#salespromotionPanel #login .float-r .password.selTab a{
	color: #FDFD00;
}

#salespromotionPanel #login .float-r .setPreset{
	color: #F39E33;
}


/*----- スライド -----*/
#salespromotionPanel{
	position: absolute;
	background: #29498F;
	padding: 0 0 10px;
	z-index: 3;
	width: 980px;
	visibility: hidden;
}

#salespromotionPanel.secret{
	background: #990000;
}


/*----- スライドボタン -----*/
#salespromotionPanel #panelButton{
	display: none;
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: -20px;
	height: 20px;
	width: 100px;
	text-align: center;
	background-color: #29498F;
	color: #FFFFFF;
}

#salespromotionPanel.secret #panelButton{
	background: #990000;
}


/*----- コンテンツ -----*/
#salespromotionPanel #panelContent{
	padding: 10px;
	display: none;
}

/* 表示エリア */
#salespromotionPanel #panelContent .contentArea > div{
	padding: 20px 30px;
	background: #FFFFFF;
}

#salespromotionPanel .contentArea h2{
	border-left: 7px solid #464637;
	padding-left: 10px;
	font-size: 24px;
	text-align: left;
}

#salespromotionPanel .contentArea h2+div{
	margin: 15px 0 10px;
	padding: 10px 0;
}

#salespromotionPanel .contentArea .err{
	font-weight: bold;
	color: #DD0000;
}

/* テーブル(共通) */
#salespromotionPanel .contentArea table{
	width: 890px;
	font-size: 12px;
	color: #000000;
	border: 1px solid #969696;
	background-color: #FFFFFF;
}

#salespromotionPanel .contentArea th{
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "HiraKakuProN-W6", "ヒラギノ角ゴ Pro W6", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif,FontAwesome!important;
	width: 150px;
	padding: 7px 10px;
	font-size: 14px;
	background: #EFEFEF;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	vertical-align: top;
	text-align: left;
	vertical-align: middle;
}

#salespromotionPanel .contentArea td{
	padding: 7px 5px;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
}

/******************************************************
   事前設定
******************************************************/
/*----- コンテンツ -----*/
#salespromotionPanel .contentArea.preset table,
#salespromotionPanel .contentArea.preset th,
#salespromotionPanel .contentArea.preset td{
	border: none;
	background-color: #FFFFFF;
	vertical-align: top;
}

#salespromotionPanel .contentArea.preset th{
	font-weight: bold;
	font-size: 18px;
}


/*----- ガソリン価格 -----*/
#salespromotionPanel .contentArea.preset .gasolineInfo{
	height: 105px;
}

#salespromotionPanel .contentArea.preset .gasolineInfo select,
#salespromotionPanel .contentArea.preset .addDateInfo select{
	width:235px;
	height: 30px;
	font-size: 16px;
}

/* 価格詳細 */
#salespromotionPanel .contentArea.preset .gasoline{
	display: block;
	margin:5px 0;
}

#salespromotionPanel .contentArea.preset dt{
	float: left;
	width: 90px;
}

#salespromotionPanel .contentArea.preset dt:before{
	content: "　";
	margin: 0 5px;
}

#salespromotionPanel .contentArea.preset dd:before{
	content: "：";
	margin: 0 5px;
}

#salespromotionPanel .contentArea.preset dd:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}


/*----- 使用開始年月 -----*/
#salespromotionPanel .contentArea.preset .addDateInfo{
	vertical-align: middle;
}

#salespromotionPanel .contentArea.preset .addDateInfo input[type=text]{
	height: 30px;
	font-size: 16px;
	width: 80px;
}


/*----- オプション -----*/
#salespromotionPanel .contentArea.preset .optionItem li{
	float: left;
	border-top: 1px dotted #999999;
	width: 340px;
	margin: 0 10px 0 0;
}

#salespromotionPanel .contentArea.preset .optionItem li>span{
	display: table-cell;
	vertical-align: middle;
	padding: 5px 10px;
}

#salespromotionPanel .contentArea.preset .optionItem li>span:first-child{
	width: 220px;
	padding: 5px 0 0 10px;
}

#salespromotionPanel .contentArea.preset .optionItem .notBorder{
	border-top: none;
}


/******************************************************
   パスワード変更
******************************************************/
#salespromotionPanel .contentArea.password .memberBox td{
	padding: 10px 5px;
}

#salespromotionPanel .contentArea.password .memberBox input[type=password]{
	height: 30px;
}

#salespromotionPanel .contentArea.password .memberBox #memberBoxMsg{
	font-weight: bold;
	color: #DD0000;
	font-size: 14px;
}

#salespromotionPanel .contentArea.password .memberBox .inputRule{
	display: block;
	font-weight: normal;
	margin: 2px auto 0 auto;
	text-align: left;
	font-size: 11px;
}

#salespromotionPanel .contentArea.password .memberBox .must_mark{
	font-weight: bold;
	color: #DD0000;
	font-size: 11px;
}

/* ボタン */
#salespromotionPanel #panelContent .btnArea{
	margin: 10px 0 0;
}

#salespromotionPanel #panelContent .btnArea{
	padding: 5px 5px 0;
	text-align: center;
}

#salespromotionPanel #panelContent .btnArea a{
	display: inline-block;
	border: none;
	color: #FFFFFF;
	width: 150px;
	font-size: 16px;
}

#salespromotionPanel #panelContent .btnArea .decisionButton,
#salespromotionPanel #panelContent .btnArea .updateButton{
	background: url(../img/bg/bg_mesh_darkOrange.png) repeat;
	padding: 5px 10px 5px 0;
	margin: 0 0 0 15px;
}

#salespromotionPanel #panelContent .btnArea .faCheck:before{
	margin:0 5px;
}

#salespromotionPanel #panelContent .btnArea .returnButton{
	background: url(../img/bg/bg_mesh_black.png) repeat;
	padding: 5px 10px 5px 0;
	margin: 0 0 0 15px;
}


/******************************************************
   お知らせ
******************************************************/
#salespromotionPanel .contentArea.notice h2+div{
	margin: 30px 0 0;
}

#salespromotionPanel .contentArea.notice span{
	margin: 0 0 10px;
	border-bottom: 1px dotted #999999;
	display: block;
}


/******************************************************
   試算設定
******************************************************/
#salespromotionPanel #panelContent .contentArea .modeChangeLoginBox h2{
	border-left: none;
	padding-left: 0;
}

#salespromotionPanel #panelContent .contentArea .modeChangeLoginBox{ 
	text-align: center;
	padding-bottom: 50px;
}

#salespromotionPanel #panelContent .contentArea .modeChangeLoginBox .btnArea a{ 
	width: 100px;
	font-size: 12px;
}

#salespromotionPanel #modeBase .btnArea{
	position: relative;
}

#salespromotionPanel #modeBase .btnArea .returnButton{
	width: 160px;
	position: absolute;
	right: 0;
}


/*----- オプションリスト -----*/
#salespromotionPanel #panelContent .modeChangeBox .itemList{
	margin: 20px 0;
}


/*----- コンテンツ -----*/
#salespromotionPanel .contentArea .modeChangeBox table.tblForm,
#salespromotionPanel .contentArea .modeChangeBox .tblForm th,
#salespromotionPanel .contentArea .modeChangeBox .tblForm td{
	border: none;
	background-color: #FFFFFF;
	vertical-align: middle;
}

#salespromotionPanel .contentArea .modeChangeBox .tblForm th{
	font-weight: bold;
	font-size: 18px;
	width: 180px;
}

#salespromotionPanel .contentArea .modeChangeBox select,
#salespromotionPanel .contentArea .modeChangeBox input[type=text]{
	height: 30px;
	font-size: 16px;
	width: 235px;
}


/*----- 切り替え項目 -----*/
#salespromotionPanel #panelContent .modeChangeBox .itemList li a{
	font-size: 14px;
	letter-spacing: 1px;
}


/*----- 利益額確認 -----*/
#salespromotionPanel #modePrice .btnArea{
	margin: 10px 0;
	border-bottom: 1px dotted #969696;
	padding: 0 0 10px;
}

#salespromotionPanel #modePrice .leaseTbl{
	display: none;
}

#salespromotionPanel #modePrice .leaseTbl table{
	margin 10px 0 0;
	width: 100%;
}

#salespromotionPanel #modePrice .leaseTbl th{
	text-align: center;
	width: auto;
	font-size: 12px;
	padding: 7px 8px;
}

#salespromotionPanel #modePrice .leaseTbl td{
	text-align: right;
}


/*----- 条件 -----*/
#salespromotionPanel #modePrice dl{
	display: table-cell;
	padding: 10px 0;
}

#salespromotionPanel #modePrice dt{
	float: left;
}

#salespromotionPanel #modePrice dt.option{
	clear: both;
}

#salespromotionPanel #modePrice dd{
	float: left;
	margin: 0 40px 0 0;
}

#salespromotionPanel #modePrice dd:before{
	content: "：";
	margin: 0 5px;
}


/*----- ローディング -----*/
#salespromotionPanel #loading{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 0;
}

#salespromotionPanel #loading img{
	visibility: hidden;
}


/******************************************************
   比較画面
******************************************************/
/* 項目選択 */
#compareDetail .clickfilter{
	background-color: #FFC58D ;
}

/* 項目の絞り込み */
#compareCarName .filter{
	float: right;
	margin: 5px;
}

#compareCarName .filter a{
	color: #333333;
}

/* ランキング順位 */
#compareData .rank_1,
#compareData .rank_2,
#compareData .rank_3{
	background-repeat: no-repeat;
	background-position: 5px center;
}

#compareData .rank_1{
	background-image: url(../img/ico/ico_1st_s.png);
}

#compareData .rank_2{
	background-image: url(../img/ico/ico_2nd_s.png);
}

#compareData .rank_3{
	background-image: url(../img/ico/ico_3rd_s.png);
}

/* 条件の帯 */
#salesPromotionDisp{
	background-color: #1D1A77;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 5px 5px 20px;
}

/* 選択内容 */
#salesPromotionDisp dl{
	display: inline-block;
}

#salesPromotionDisp dt,
#salesPromotionDisp dd{
	color: #FFFFFF;
}

#salesPromotionDisp dt{
	float: left;
}

#salesPromotionDisp dt.option{
	clear: both;
}

#salesPromotionDisp dd{
	float: left;
	margin: 0 40px 0 0;
}

#salesPromotionDisp dd:before{
	content: "：";
	margin: 0 5px;
}

#salesPromotionDisp span{
	display: block;
	text-align: right;
}

/* 走行距離 */
#compareData .compareCarData .leaseMileage li {
	width: 90px;
	font-size: 14px;
	padding: 5px 0;
}

.compareCarData .leaseMileage .leaseMileageVal{
	font-size: 18px;
	padding: 4px 0 0;
	text-align: center;
}

/* リース料 */
.compareCarData .lease{
	height: 181px;
	vertical-align: top;
}

/* 期間 */
.compareCarData .lease li{
	float: left;
	font-weight: bold;
	padding: 8px 19px;
	position: relative;
}

#carLeaseInfo .carGradeList dt.title>span.name span{
	font-weight: bold;
	padding: 2px 10px;
	color: #FFFFFF;
	margin: 0 0 5px;
	font-size: 18px;
	display: inline-block;
}

.compareCarData .lease li a{
	color: #FFFFFF;
}

.compareCarData .lease li .faCaretDown{
	position: absolute;
	top: 19px;
	left: 19px;
}

/* 金額 */
.compareCarData .lease .leaseVal{
	margin: 10px 0;
	min-width: 182px;
	min-height: 55px;
}

.compareCarData.notData .lease .leaseVal,
.compareCarData .lease .leaseVal .month{
	font-size: 24px;
	text-align: center;
	display: block;
}

.compareCarData .lease .leaseVal .noLease{
	font-size: 18px;
	padding: 5px 0 4px;
}

.compareCarData .lease .leaseVal .notLease{
	font-size: 18px;
	padding: 4px 0 24px;
}

.compareCarData .lease .leaseVal .total>span{
	font-size: 13px;
}

.compareCarData.notData .lease .leaseVal{
	margin: 54px 0 0;
}

/* 詳細ボタン */
.compareCarData .lease .leaseDetail{
	text-align: right;
}

.compareCarData .lease .leaseDetail a{
	color: #fff;
	background-color: #666661;
	padding: 2px 0;
	display: inline-block;
	width: 60px;
	text-align: center;
}

.compareCarData .lease .leaseDetail a:after{
	content: "\f054";
	margin: 0 0 0 5px ;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}


/*----- リース料の表示／非表示 -----*/
.compareCarData .lease .leaseVal>div,
.compareCarData .lease .leaseVal>div .leaseBox,
.compareCarData .lease ul .faCaretDown{
	visibility: hidden;
	display: none;
}

.compareCarData .lease div.selLease,
.compareCarData .lease div.selLease .leaseBox.selLease,
.compareCarData .lease ul .selLease .faCaretDown{
	visibility: visible;
	display: block;
}

/* 切り替えタブ(3年) */
.compareCarData .lease li.y3{
	background-color: #8383D3;
}

.compareCarData .lease li.y3 .faCaretDown:before{
	color:#1919BB !important;
}

/* 切り替えタブ(4年) */
.compareCarData .lease li.y4{
	background-color: #67AC6C;
}

.compareCarData .lease li.y4 .faCaretDown:before{
	color:#1C8825 !important;
}

/* 切り替えタブ(5年) */
.compareCarData .lease li.y5{
	background-color: #CE8585;
}

.compareCarData .lease li.y5 .faCaretDown:before{
	color:#BB1919 !important;
}

.compareCarData .lease li.y3,
.compareCarData .lease li.y4,
.compareCarData .lease li.y5{
	cursor: pointer;
}


/******************************************************
   車種詳細／オプション選択(共通)
******************************************************/
/*----- コンテンツ -----*/
#carLeaseInfo,
#carLeaseOption{
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 14px;
}


/*----- 社外秘帯 -----*/
#leaseBaseDisp{
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
	background: #29498F;
}

#leaseBaseDisp.leaseBase{
	background: #990000;
}

#leaseBaseDisp span{
	font-size: 14px;
	float: right;
	cursor: pointer
}


/*----- 車種情報 -----*/
#carLeaseInfo .carData,
#carLeaseOption .carData{
	width: 300px;
	min-width: 300px;
	display: table-cell;
	vertical-align: top;
}

#carLeaseInfo .carGradeList,
#carLeaseOption .carLeaseOptionList{
	width: 724px;
	padding: 0 0 0 30px;
	display: table-cell;
	vertical-align: top;
}

#carLeaseInfo .carGradeList>div{
	margin: 0 0 15px;
	min-width: 630px;
}

#carLeaseInfo .carGradeList>div>div{
	margin: 0 0 10px;
	padding: 5px 0;
}

/* 車種画像 */
#carLeaseInfo .modelInfo .carImg,
#carLeaseOption .modelInfo .carImg{
	text-align: center;
	padding: 10px;
	border: solid 1px #aaaaaa;
}

#carLeaseInfo .modelInfo .carImg img,
#carLeaseOption .modelInfo .carImg img{
	max-width: 260px;
	height: auto;
}

/* 車種名 */
#carLeaseInfo .modelInfo .carName,
#carLeaseOption .modelInfo .carName{
	font-size: 22px;
	margin: 10px 0;
}

/* リース期間 */
#carLeaseInfo .modelInfo .lease,
#carLeaseOption .modelInfo .lease{
	margin: 10px 0;
}

/* バリュー */
#carLeaseInfo .modelInfo .themeBox,
#carLeaseOption .modelInfo .themeBox{
	margin: 0 0 20px;
}

#carLeaseInfo .modelInfo .themeBox li,
#carLeaseOption .modelInfo .themeBox li{
	text-align: center;
	margin: 0 0 5px;
	font-weight: bold;
	padding: 2px 0;
}

/* リース情報 */
#carLeaseInfo .leaseInfo,
#carLeaseOption .leaseInfo{
	border-top: dotted 2px #aaaaaa;
	padding: 10px 0 0;
}

#carLeaseInfo .leaseInfo dt,
#carLeaseInfo .leaseOption dt,
#carLeaseOption .leaseInfo dt{
	float: left;
	width: 110px;
}

#carLeaseInfo .leaseInfo dt:before,
#carLeaseInfo .leaseOption dt:before,
#carLeaseOption .leaseInfo dt:before{
	content: "・";
	margin: 0 5px;
}

#carLeaseInfo .leaseInfo dd:before,
#carLeaseInfo .leaseOption dd:before,
#carLeaseOption .leaseInfo dd:before{
	content: "：";
	margin: 0 5px;
}

#carLeaseInfo .leaseInfo dd:after,
#carLeaseOption .leaseInfo dd:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

/* オプション項目 */ 
#carLeaseInfo .leaseOption li{
	margin: 5px 14px 5px 20px;
	border-bottom: 1px dotted #999999;
	padding: 3px;
	font-size: 12px;
	letter-spacing: -1px;
}

#carLeaseInfo .leaseOption li span{
	display:table-cell;
	padding:5px;
	vertical-align:middle;
}

#carLeaseInfo .leaseOption li span.leaseOptionName{
	width:169px;
}

#carLeaseInfo .leaseOption li span.leaseOptionPrice{
	width: 71px;
	text-align: right;
}

#carLeaseInfo .leaseOption li.optionStart{
	border-top: 1px dotted #999999;
}

/* オプション選択ボタン */
#carLeaseInfo .leaseOption .btnArea{
	text-align: center;
	margin: 15px 0 0 0;
}

#carLeaseInfo .leaseOption .btnArea a{
	display: inline-block;
	border: none;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 10px;
}

#carLeaseInfo .leaseOption .actionButton{
	background: url(../img/bg/bg_mesh_darkOrange.png) repeat;
}


/******************************************************
   車種詳細
******************************************************/
#carLeaseInfo .carGradeList h2{
	border: none;
	padding-left: 0;
	background-color: #4A4A4A;
	color:#FFFFFF;
	font-size: 22px;
	font-weight:bold;
	height:50px;
	display:table;
	width:100%;
}

/* 閉じる／開くボタン */
#carLeaseInfo .carGradeList h2 span{
	display:table-cell;
	vertical-align:middle;
	padding:0 0 0 10px;
}

#carLeaseInfo .carGradeList h2 span+*{
	background-color:#8A8A7B;
	text-align:center;
	height:100%;
	padding:0;
	width:100px;
	cursor: pointer;
}

#carLeaseInfo .carGradeList h2 span a{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
}

/* グレード名 */
#carLeaseInfo .carGradeList .gradeInfo{
	padding: 0 5px 0 0;
}

#carLeaseInfo .carGradeList .gradeInfo dl{
	padding: 6px 0 0 0;
}

#carLeaseInfo .carGradeList .gradeInfo dt{
	float: left;
	width: 90px;
}

#carLeaseInfo .carGradeList .gradeInfo dd{
	margin: 0 0 0 90px;
}

#carLeaseInfo .carGradeList .gradeInfo dd:before{
	content: "：";
	margin: 0 8px;
	float: left;
}

#carLeaseInfo .carGradeList .gradeInfo dd:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

#carLeaseInfo .carGradeList .gradeInfo dd span{
	display: block;
	margin: 0 0 0 28px;
}


/*----- グレード別リース料 -----*/
#carLeaseInfo .carGradeList .itemList,
#carLeaseInfo .carGradeList dl.leaseBox{
	margin: 25px 30px 0px 50px;
	display: none;
}

#carLeaseInfo .carGradeList .dataList{
	display: none;
}

#carLeaseInfo .carGradeList .selBox{
	display: block;
}

#carLeaseInfo .carGradeList dt.title{
	font-size: 20px;
	padding: 5px 0 0;
	display:table;
	min-width:550px;
}

#carLeaseInfo .carGradeList dt.title>span{
	display:table-cell;
	vertical-align:middle;
}

#carLeaseInfo .carGradeList dt.title span.lease{
	font-weight: bold;
	text-align:right;
}

#carLeaseInfo .carGradeList dt.title span.lease span{
	font-size:14px;
	font-weight: normal;
}

#carLeaseInfo .carGradeList dt.title span.noLease{
	font-size:14px;
}

/* 3年 */
#carLeaseInfo .carGradeList dt.title.y3{
	border-bottom: dotted 1px #1919BB;
}

/* 4年 */
#carLeaseInfo .carGradeList dt.title.y4{
	border-bottom: dotted 1px #1C8825;
}

/* 5年 */
#carLeaseInfo .carGradeList dt.title.y5{
	border-bottom: dotted 1px #BB1919;
}


/*----- 明細 -----*/
#carLeaseInfo .carGradeList .leaseData{
	padding: 5px 0 5px 40px;
}

/* 項目名 */
#carLeaseInfo .carGradeList .leaseData dt{
	padding: 6px 0 0 0;
	float: left;
	width: 220px;
	font-size: 18px;
}

#carLeaseInfo .carGradeList .leaseData dt:before{
	content:"○";
	margin:0 5px;
}

/* 金額 */
#carLeaseInfo .carGradeList .leaseData dd{
	padding: 5px 20px 0 0;
	font-size: 18px;
	font-weight: bold;
}

#carLeaseInfo .carGradeList .leaseData dd span{
	text-align: right;
	display: inline-block;
	width: 140px;
}

#carLeaseInfo .carGradeList .leaseData dd:before{
	content: "　";
	margin: 0 4px;
}

#carLeaseInfo .carGradeList .leaseData dd:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

/* トータルコスト */
#carLeaseInfo .carGradeList .leaseData dt.total+dd{
	padding: 4px 0 0 0;
}

#carLeaseInfo .carGradeList .leaseData dt.total+dd a{
	color: #333333;
	font-size: 22px;
	margin: 0 20px;
}

/* トータルコスト詳細 */
#carLeaseInfo .carGradeList .leaseData .totalDetail{
	display: none;
}

#carLeaseInfo .carGradeList .leaseData .totalDetail dt{
	margin: 0 0 0 60px;
	width: 150px;
	font-size: 14px;
	font-weight: normal;
}

#carLeaseInfo .carGradeList .leaseData .totalDetail dt:before{
	content:"・";
	margin:0 5px;
}

#carLeaseInfo .carGradeList .leaseData .totalDetail dd{
	font-weight: normal;
	font-size: 14px;
}

#carLeaseInfo .carGradeList .leaseData .totalDetail dd:before{
	content: "：";
	margin: 0 8px;
}


/******************************************************
   オプション選択
******************************************************/
/*----- 各項目 -----*/
#carLeaseOption .itemBox li{
	border-top: 1px dotted #999999;
}

#carLeaseOption .itemBox li:first-child{
	border-top: none;
}

#carLeaseOption .itemBox li>span{
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

/* オプション名＆説明 */
#carLeaseOption .itemBox .description{
	width: 356px;
	font-size: 12px;
}

#carLeaseOption .itemBox .description .name{
	font-size: 18px;
	display: block;
	margin: 0 0 10px;
	letter-spacing: -1px;
}

#carLeaseOption .itemBox .description .campaign{
	font-size: 12px;
	display: block;
	margin: 0 0 10px;
	color: #FF0000;
}

/* 金額 */
#carLeaseOption .itemBox .price{
	font-size: 18px;
	font-weight: bold;
	width: 120px;
	text-align: right;
}

#carLeaseOption .itemBox .price.noLease {
	font-size: 12px;
}

/* ボタン */
#carLeaseOption .btnArea{
	text-align: center;
	padding: 15px 0 5px;
}

#carLeaseOption .btnArea a{
	color: #FFFFFF;
	padding: 5px 10px 5px 0px;
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

#carLeaseOption .btnArea .returnButton{
	background: url(../img/bg/bg_mesh_black.png) repeat;
}

#carLeaseOption .btnArea .actionButton{
	background: url(../img/bg/bg_mesh_darkOrange.png) repeat;
	margin: 0 0 0 30px;
}

#carLeaseOption .btnArea .faCheck:before{
	margin: 0 5px;
}

/******************************************************
   モード変更中
******************************************************/
#carLeaseInfo .leaseOption .filterColor,
#carLeaseInfo .filterColor dt.title span.lease,
#carLeaseInfo .filterColor .leaseData dd span,
#carLeaseOption .optionTotalPrice.filterColor ,
#carLeaseOption .filterColor .price {
	color: #dadada;
	opacity: 0.6;
}


/******************************************************
   算出条件
******************************************************/
#modeCondition li{
	list-style-type: disc;
	margin: 5px 0 5px 30px;
}

#modeCondition li li{
	list-style-type: circle;
}
